#navinternal {
  color: white;
  max-width: 100vw;
  display: flex;
  padding-inline: 1rem;
  align-content: space-evenly;
  padding-block: 2rem;
}

#navinternal a#cart {
  padding-inline: .5rem;
  justify-content: center;
}

#navinternal a#cart img {
  transform: translateY(0.3rem);
}
@media screen and (max-width: 768px) {
  #navinternal {
    flex-direction: row;
  }
}
#navinternal a {
  align-content: space-evenly;
  flex-direction: row;
  text-decoration: none;
  color: white;
  padding-inline: 2rem;
  padding-block: 1rem;
  border-radius: .5rem;
  border: 2px solid #E76AC1;
}

#navinternal a:hover {
  background-color: #404040;
}

